<footer>
	<div class = "grid-container">
		<div class = "tablet-grid-50 tablet-prefix-25 mobile-grid-100" id = "copyright">
			<h2>Samuel <span id = "surname">Durrant-Walker</span> &copy;</h2>
		</div>
		<div class = "tablet-grid-50 mobile-grid-100 grid-parent" id = "quote">
			<div class = "grid-50 prefix-25">
				<p>Version 2.0 Colour</p>
			</div>
			<div class = "grid-50 tablet-grid-50">
				<h4>Built on <span style = "color:white"><span style = "color:red">un</span>semantic</span></h4>
			</div>
			<div class = "grid-50 tablet-grid-50">
				<h4>Hosted with GitHub Pages</h4>
			</div>
			<div class = "grid-50 tablet-grid-50">
				<h4>Available 9-5 Mon - Fri</h4>
			</div>
			<div class = "grid-50 tablet-grid-50">
				<h4>Fullstack Development</h4>
			</div>
		</div>
		<div class = "tablet-grid-50 mobile-grid-100 grid-parent">
			<div class = "grid-50 prefix-25">
				<p>Contact me</p>
			</div>
			<div class = "grid-50 tablet-grid-50" id = "contact">
				<a href = "https://www.linkedin.com/in/samueldw"><h4>LinkedIn</h4></a>
			</div>
			<div class = "grid-50 tablet-grid-50" id = "contact">
				<a href = "https://www.instagram.com/k_pop_fan_4life/"><h4>Instagram</h4></a>
			</div>
			<div class = "grid-50 tablet-grid-50" id = "contact">
				<a href = "https://github.com/SamuelDW"><h4>GitHub</h4></a>
			</div>
			<div class = "grid-50 tablet-grid-50" id = "contact">
				<h4>Twitter</h4>
			</div>
		</div>
	</div>
</footer>

<!-- Scripts -->
	<!-- Modal -->
		<script type = "text/javascript" src = "/assets/js/modal.js"></script>
	<!-- Slideshow -->
		<script type = "text/javascript" src = "/assets/js/slideshow.js"></script>