<header>
	<div class = "grid-container">
		<div class = "grid-40 tablet-grid-40 mobile-grid-100"id = "title">
			<h2>Samuel <span id = "surname">Durrant-Walker</span></h2>
		</div>
		<!-- navigation -->
			<div class = " grid-15 tablet-grid-15 hide-on-mobile">
			<p>    </p>
			</div>
			<a href = "#about-section">
				<div class = " grid-15 tablet-grid-15 mobile-grid-33" id = "nav">
					<h2>About</h2>
				</div>
			</a>
			<a href = "#project-head">
				<div class = "grid-15 tablet-grid-15 mobile-grid-33"id = "nav">
					<h2>Projects</h2>
				</div>
			</a>
			<a href = "#more-section">
				<div class = "grid-15 tablet-grid-15 mobile-grid-33"id = "nav">
					<h2>My Life</h2>
				</div>
			</a>
		</div>
</header>