<!-- Introduction -->
<div class = "grid-container">
<div class = "grid-100" id = "backimg">
	<div class = "tablet-grid-50 tablet-prefix-25 mobile-grid-80 mobile-prefix-10 grid-50 prefix-25" id = "intro">
			<h1 style = "font-size: 32px;">Hey, I'm <span id = "keywords">Samuel</span>!<span id = "blink">&#60;/h1&#62;</span></h1>
			<h3 style = "font-size: 22px;">I'm a <span id = "keywords">developer</span> and <span id = "keywords">designer</span>, primarily of web from Yorkshire, England</h3>
			<h4 style = "font-size: 20px;">A recent graduate of the University of Hull, working on <a href = "#project-section"><span id = "keywords">projects</span></a> of my own,
			and of the courses. I tend to post on <a href = "https://www.instagram.com/k_pop_fan_4life/"><span id = "social">Instagram</span></a> frequently, though mainly of my interests, spend my time <span id = "social">
			Cooking</span>, <span id = "social">Airsofting</span> and much more. You can find me on <a href = "https://www.linkedin.com/in/samueldw" target="_blank"><span id = "social">LinkedIn</span></a></h4>
			<br>
		</div>
	</div>
</div>